.form-container {
    width: 500px;
    height: 700px;
    margin: 20px auto;
    border-radius: 8px;
    border: 1px solid #95A0A7;
    padding-left: 44px;
}

.form-title {
    color: #2A414F;
    /* H4 */
    font-family: Lato;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.088px;
    text-align: center;
}

.form-control label {
    display: block;
    color: #2A414F;
    /* Subtitle 1 */
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    letter-spacing: 0.026px;
}

.form-control input {
    width: 415px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #95A0A7;
    font-size: 1.5em;
    padding-left: 10px;
    margin-bottom: 20px;
}

.btn-submit {
    width: 429px;
    height: 55px;
    flex-shrink: 0;
    margin-top: 20px;
    border-radius: 5px;
    background: rgba(255, 153, 0, 0.30);
    color: #0E161A;
    /* H6 */
    font-family: Lato;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.032px;
}

.btn-submit:hover {

    background: rgba(255, 153, 0, 0.60);
}
